.blog-post.post{itemscope: '', itemtype: "http://schema.org/Article", 'data-markdown' => post.markdown , :class => (preview ? '' : 'actual-post' )}
  %h1
    %span{itemprop: "name"}
      %a{href: post_path(post.slug)}= post.title

  .blog-meta
    .meta-item
      .meta-title.published Date:
      %a{href: "#"}
        %span{itemprop: "datePublished", content: post.published_at.to_date.iso8601}
          = post.pretty_published_at_date

    .meta-item
      .meta-title.tags Tags:
      - post.tags.each do |tag|
        %a{href: "#"}= tag.name
    - name = post.user.try(:name)
    - if name
      .meta-item
        .meta-title.author
        = "By"
        %span{itemprop: "author", itemscope: '' , itemtype: "http://schema.org/Person"}
          %span{itemprop: "name"}
            = name

  .blog-content.reading-content{itemprop: "articleBody"}
    - if preview
      .js-post-markdown-preview
      %a.button.accent{href: post_path(post.slug)} Continue Reading
    - else
      .js-post-markdown
        != @post.rendered_markdown
    