.gist{'data-gist_id' => @gist.gist_id}
  .relative
    %h1.js-gist-description
  
  .js-gist-display.full-width
  %br
  .js-gist-markdown.reading-content
  %br
    = render :partial => 'share_block'
  %hr
  %h2
    index.html
  .js-gist-index
  %hr
  %br
  %a.button.accent{href: "https://gist.github.com/#{@gist.gist_id}"}
    %i.fa.fa-external-link
    Visit Gist

  %a.button.accent{href: "http://bl.ocks.org/#{@gist.gist_id}"}
    %i.fa.fa-external-link
    Visit bl.ock

  .portfolio-tags
    .portfolio-tags-title Tags:
    = @gist.tags.map(&:name).join(', ')



- if not @related_items.empty?
  .divider
  %h3.section-title Related Work

  #portfolio-nav.carousel-nav
    .back
    .next
  .carousel
    %ul#portfolio-carousel.slider-container
      - for g in @related_items
        %li.column-one-fourth.portfolio-item
          = render partial: 'portfolio_item_stub', locals: {gist: g}



.divider
.comments
  = render partial: 'disqus'