!!!
%html
  %head
    
    %meta{charset: "utf-8"}
    %meta{content: "initial-scale=1", name: "viewport"}

    %title Maorigeek
    %link{href: 'http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body.light-bg.home
    .main-container
      = render :partial => 'layouts/header'
      = yield
      = render :partial => 'layouts/footer'
